<!DOCTYPE html>
<html xmlns:th="http://www.thymeleleaf.org">
<head>
    <meta charset="utf-8">
    <title>下注网站</title>
    <!-- 此文件为了显示Demo样式，项目中不需要引入 -->
    <link href="/assets/code/demo.css" rel="stylesheet">

    <link href="/assets/css/dpl.css" rel="stylesheet">
    <link href="/assets/css/bui.css" rel="stylesheet">

</head>
<body>
<div class="demo-content">
    <div class="row">
        <div class="span24">
            <form id="searchForm" class="form-horizontal" tabindex="0" style="outline: none;margin-top:20px;">
                <div class="row" id="searchDiv">
                    <div class="control-group span8">
                        <label class="control-label">用户名：</label>
                        <div class="controls">
                            <input type="text" name="name" class="control-text">
                        </div>
                    </div>
                    <div class="form-actions span2">
                        <button id="btnSearch" type="submit" class="button button-primary">搜索</button>
                    </div>
                    <div class="form-actions span3">
                        <button id="btnDel" type="button" class="button button-danger">彻底删除</button>
                    </div>

                    <div class="form-actions span2">
                        <button id="btnBack" type="button" class="button button-success">返回列表</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <div class="search-grid-container">
        <div id="grid">
        </div>
        <!-- 初始隐藏 dialog内容 -->
        <div id="content" class="hide">

        </div>
        <script src="/assets/js/jquery-1.8.1.min.js"></script>
        <script src="/assets/js/bui-min.js"></script>
        <script type="text/javascript" th:inline="javascript">
            var myAuthent = [[${authents}]];
            var myUrl = [[${urls}]];
            var myButton = [[${buttons}]];
            var Grid = BUI.Grid,
                Store = BUI.Data.Store,
                columns = [
                    {title : 'ID',dataIndex :'id', width:50},
                    {title : '用户ID',dataIndex :'userId', width:50},
                    {title : '用户名',dataIndex :'userName', width:100},
                    {title : '网站ID',dataIndex :'lotteryId', width:50},
                    {title : '网站名',dataIndex :'lotteryName', width:100},
                    {title : '登录名',dataIndex :'loginUser', width:100},
                    {title : '登录密码',dataIndex :'loginPwd', width:100},
                    {title : '创建人',dataIndex : 'createUser',width:100},
                    {title : '创建时间',dataIndex : 'createTime',width:100},
                    {title : '修改人',dataIndex : 'updateUser',width:100},
                    {title : '修改时间',dataIndex : 'updateTime',width:100},
                    {title : '操作',renderer : function(){
                        return '<span class="grid-command btn-restore">还原</span>&nbsp;<span class="grid-command btn-delete">删除</span>'
                    }}
                ];

            //监听表格行内编辑点击操作
//            var editing = new Grid.Plugins.DialogEditing({
//                contentId : 'content', //设置隐藏的Dialog内容
//                triggerCls : 'btn-edit', //触发显示Dialog的样式
//                editor : {
//                    title : '权限对象-编辑',
//                    width : '80%',
//                    success:function(){
//                        var edtor = this;
//                        $.ajax({
//                            type: "POST",
//                            url: myUrl.edit,
//                            data:$("#lotteryForm").serialize(),
//                            dataType: "json",
//                            success: function(data){
//                                if(data.code=="SUCCESS"){
//                                    store.load();
//                                }
//                                edtor.accept();
//                            }
//                        });
//                    }
//
//                },
//                autoSave : true //自动添加和更新
//            });
            var store = new Store({
                    url : "./listRecycleByPage",
                    autoLoad:true,
                    pageSize:10
                }),
                grid = new Grid.Grid({
                    render:'#grid',
                    loadMask: true,
                    forceFit:true,
                    columns : columns,
                    store: store,
                    plugins : [Grid.Plugins.CheckSelection,Grid.Plugins.AutoFit,Grid.Plugins.ColumnResize], //勾选插件、自适应宽度插件
                    // 底部工具栏

                    // 顶部工具栏
                    bbar : {
                        //items 也可以在此配置
                        // pagingBar:表明包含分页栏
                        pagingBar:true
                    }
                });

            grid.render();




            //监听表格行内操作列的点击操作
            grid.on('itemclick',function(ev){
                var sender = $(ev.domTarget),
                    itemEl = $(ev.element),
                    item = ev.item;
                if(sender.hasClass('btn-delete')){ //点击删除操作
                    del(item);
                }

                if(sender.hasClass('btn-restore')){ //点击还原操作
                    restore(item);
                }
            });


            //删除选中的记录
            function del(item){
                if(typeof(myUrl.del)=="undefined"){
                    BUI.Message.Alert('没有权限删除！','error');
                    return;
                }
                BUI.Message.Confirm('确认删除ID['+item.id+']记录?该操作将使数据不可恢复!',function(){
                    $.ajax({
                        type: "POST",
                        url: myUrl.del,
                        data: {id:item.id},
                        dataType: "json",
                        success: function(data){
                            if(data.code=="SUCCESS"){
                                store.load();
                            }
                        }
                    });
                },'question');
            }

            //还原选中的记录
            function restore(item){
                if(typeof(myUrl.restore)=="undefined"){
                    BUI.Message.Alert('没有权限！','error');
                    return;
                }
                BUI.Message.Confirm('确认还原ID['+item.id+']记录?',function(){
                    $.ajax({
                        type: "POST",
                        url: myUrl.restore,
                        data: {id:item.id},
                        dataType: "json",
                        success: function(data){
                            if(data.code=="SUCCESS"){
                                store.load();
                            }
                        }
                    });
                },'question');
            }
            //创建表单，表单中的日历，不需要单独初始化
            var form = new BUI.Form.HForm({
                srcNode : '#searchForm'
            }).render();

            form.on('beforesubmit',function(ev) {
                //序列化成对象
                var obj = form.serializeToObject();
                obj.start = 0; //返回第一页
                store.load(obj);
                return false;
            });


            //监听添加按钮
            $('#btnBack').click(function(){
                window.location.href="./index";
            });

            //监听批量删除按钮
            $("#btnDel").click(function(){

                var ids = "";
                var selections = grid.getSelection();
                if(selections.length==0){
                    BUI.Message.Alert('请选择要删除的信息！','warning');
                    return false;
                }
                for(var i = 0; i< selections.length;i++){
                    if(i<selections.length-1){
                        ids+=selections[i].id+",";
                    }else{
                        ids+=selections[i].id;
                    }
                }
                BUI.Message.Confirm('确认批量删除['+ids+']记录？该操作将使数据不可恢复!',function(){
                    $.ajax({
                        type: "POST",
                        url: myUrl.batchDel,
                        data: {ids:ids},
                        dataType: "json",
                        success: function(data){
                            if(data.code=="SUCCESS"){
//                                store.remove(selections);
                                store.load();
                            }
                        }
                    });
                });
                return false;
            });

        </script>
        <!-- script end -->
    </div>
</body>
</html>