<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinx.project.lottery.mapper.SysconfigDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tinx.project.lottery.entity.Sysconfig">
        <id column="id" property="id" />
        <result column="cfg_key_suffix" property="cfgKeySuffix" />
        <result column="cfg_key_prefix" property="cfgKeyPrefix" />
        <result column="cfg_value" property="cfgValue" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="udate_time" property="udateTime" />
    </resultMap>

</mapper>
